.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 120px;
  width: 100%;
  background-color: black;
  background-image: url(../images/3px-tile.png);
}