.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 120px;
  width: 100%;
  background-color: antiquewhite;
  opacity: 0.9;
}