.tweets-container {
  width: 100%;
}

.tweet-section {
  padding: 0.5em;
  width: 100%;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tweet-button {
  background-color: #4056A1;
  font-family: 'Bungee';
  border: 0;
  padding: 0.1em 0.25em;
  color: white;
}

.counter {
  font-family: 'Bungee';
}

.counter-red {
  color: red;
}

.tweet-footer {
  display: flex;
  padding-top: 0.5em;
  justify-content: space-between;
}

#tweet-text {
  font-family: 'Source Sans Pro', sans-serif;
  resize: none;
  outline: none;
  padding: 0px;
  border: 0px solid;
  border-bottom: 2px solid;
  background-color: transparent;
  font-weight: 600;
}

.tweet-h2 {
  margin: 0 0 0.25em 0;
  font-family: 'Bungee';
  font-size: 2rem;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

article.tweet {
  margin: 0.75em;
  padding: 0.5em;
  border: solid;
}

article.tweet:hover {
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.1);
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article.tweet header div {
  display: flex;
  align-items: center;
}

article.tweet header img {
  width: 2em;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid;
  padding-top: 0.2em;
}

article.tweet footer i {
  color: #4056A1;
}

article.tweet .username {
  opacity: 0.5;
}

article.tweet p {
  margin: 1.5em 0.5em 1em;
}

article.tweet footer div {
  margin: 0 0.5em;
}

#flag:hover {
  color: #E26F1D;
}

#retweet:hover {
  color: #E26F1D;
}

#heart:hover {
  color: #E26F1D;
}

.error {
  color: #D8000C;
  border: 2px solid #D8000C;
  background-color: #FFBABA;
  margin: 0.5em 0;
  display: none;
}